<html>

<head>

<!-- Javascript and CSS go here -->
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">

</head>

<body>
<h1 align ="center">Stephanie Learns to Code</h1>
<hr> <br>
<nav>
<a href="/about">About</a> |
<a href="/blog">Blog</a> |
<a href="/write_blog">Write Blog</a> |
<a href="/archive">Archive</a>
</nav>


{% block main_content %}
{% endblock %}


<footer>
  <p>Posted by: Stephanie</p>
  <p>Contact information: <a href="stephanie.nudelman@gmail.com">
  stephanie.nudelman@gmail.com</a>.</p>
</footer>

</body>

</html>

